body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  color:#666666;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:25px;
  width:145px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1211px;
  top:28px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1px;
  top:59px;
  width:120px;
  height:941px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:941px;
}
#u8 {
  position:absolute;
  left:2px;
  top:462px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:84px;
  width:400px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:158px;
  top:90px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:158px;
  top:350px;
  width:1077px;
  height:440px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:440px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:158px;
  top:311px;
  width:1077px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:1073px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:158px;
  top:140px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:158px;
  top:165px;
  width:1077px;
  height:90px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:90px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:250px;
  top:138px;
  width:100px;
  height:13px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:158px;
  top:288px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:900px;
  top:980px;
  width:105px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1130px;
  top:980px;
  width:105px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1017px;
  top:980px;
  width:105px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:158px;
  top:877px;
  width:310px;
  height:33px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:158px;
  top:827px;
  width:57px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:466px;
  top:877px;
  width:60px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:600px;
  top:827px;
  width:60px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:670px;
  top:827px;
  width:60px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:740px;
  top:827px;
  width:60px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:810px;
  top:827px;
  width:60px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:158px;
  top:855px;
  width:142px;
  height:13px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:560px;
  top:827px;
  width:10px;
  height:83px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:66px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:83px;
}
#u44 {
  position:absolute;
  left:0px;
  top:84px;
  width:120px;
  height:180px;
}
#u44_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:186px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:185px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
