body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:37px;
  top:15px;
  width:130px;
  height:38px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:358px;
  top:26px;
  width:49px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:481px;
  top:26px;
  width:49px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:240px;
  top:26px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:980px;
  top:19px;
  width:180px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1159px;
  top:19px;
  width:91px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:45px;
  top:238px;
  width:85px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:140px;
  top:238px;
  width:90px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:238px;
  width:90px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:340px;
  top:238px;
  width:90px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:975px;
  top:238px;
  width:180px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1154px;
  top:238px;
  width:91px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:450px;
  top:238px;
  width:90px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:0px;
  top:1200px;
  width:1280px;
  height:130px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:130px;
}
#u30 {
  position:absolute;
  left:2px;
  top:57px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:61px;
  top:1218px;
  width:49px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:495px;
  top:1218px;
  width:49px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:973px;
  top:1218px;
  width:49px;
  height:12px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:1330px;
  width:1280px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:983px;
  top:1342px;
  width:252px;
  height:15px;
  color:#AEAEAE;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:887px;
  top:1342px;
  width:80px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:612px;
  top:238px;
  width:88px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:710px;
  top:238px;
  width:88px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:45px;
  top:328px;
  width:335px;
  height:90px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:90px;
}
#u48 {
  position:absolute;
  left:2px;
  top:37px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:435px;
  top:328px;
  width:375px;
  height:90px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u50 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:870px;
  top:328px;
  width:375px;
  height:90px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u52 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:45px;
  top:428px;
  width:136px;
  height:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:45px;
  top:466px;
  width:300px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:45px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:115px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:185px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:255px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:576px;
  top:120px;
  width:73px;
  height:25px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:469px;
  top:167px;
  width:287px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:435px;
  top:428px;
  width:136px;
  height:28px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:435px;
  top:466px;
  width:300px;
  height:28px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:435px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:505px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:575px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:645px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:870px;
  top:428px;
  width:136px;
  height:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:870px;
  top:466px;
  width:300px;
  height:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:870px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:940px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1010px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1080px;
  top:530px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:45px;
  top:618px;
  width:335px;
  height:90px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:90px;
}
#u94 {
  position:absolute;
  left:2px;
  top:37px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:435px;
  top:618px;
  width:375px;
  height:90px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u96 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:870px;
  top:618px;
  width:375px;
  height:90px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u98 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:45px;
  top:718px;
  width:136px;
  height:28px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:45px;
  top:756px;
  width:300px;
  height:28px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:45px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:115px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:185px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:255px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:435px;
  top:718px;
  width:136px;
  height:28px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:435px;
  top:756px;
  width:300px;
  height:28px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:435px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:505px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:575px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:645px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:870px;
  top:718px;
  width:136px;
  height:28px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:870px;
  top:756px;
  width:300px;
  height:28px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:870px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:940px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1010px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1080px;
  top:820px;
  width:60px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
